@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

@font-face {
  font-family: "Norwester";
  src: url("./norwester-v1.2/norwester.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
